<mat-card class="character_card">
  <a [routerLink]="['/character', character.id]">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="card-title"
          ><h3>{{ character.name }}</h3></mat-card-title
        >
        <mat-card-subtitle>{{ character.species }}</mat-card-subtitle>
        <img
          class="image_container"
          mat-card-lg-image
          src="{{ character.image }}"
          alt="{{ character.name }}"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Gender :</strong> <span>{{ character.gender }}</span>
      </p>
      <p>
        <strong>Origin :</strong> <span>{{ character.origin.name }}</span>
      </p>
    </mat-card-content>
  </a>
</mat-card>
