@if(isLoading){
  <mat-progress-spinner mode="determinate"></mat-progress-spinner>
  <mat-spinner class="loading_spiner"></mat-spinner>
}

<div class="main_wrapper_container">
  <div>
    <button
      (click)="(displayList())"
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon> format_list_bulleted </mat-icon>
    </button>
    <button
      (click)="(displayCards())"
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon> dashboard </mat-icon>
    </button>
  </div>
</div>

<div class="main_wrapper_container">
  @if(showCards){
  <div class="chraters_wrapper_container">
    @for (character of characters; track character) {

      <app-character-card [character] = "character" ></app-character-card>
    <!-- <mat-card class="character_card">
      <a [routerLink]="['/character', character.id]">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="card-title"
              ><h3>{{ character.name }}</h3></mat-card-title
            >
            <mat-card-subtitle>{{ character.species }}</mat-card-subtitle>
            <img
              class="image_container"
              mat-card-lg-image
              src="{{ character.image }}"
              alt="{{ character.name }}"
            />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            <strong>Gender :</strong> <span>{{ character.gender }}</span>
          </p>
          <p>
            <strong>Origin :</strong> <span>{{ character.origin.name }}</span>
          </p>
        </mat-card-content>
      </a>
    </mat-card> -->

    }
  </div>
  } @if(showList){
  <div class="wrapper_table_container">
    <table mat-table [dataSource]="characters" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
      </ng-container>

      <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef>Species</th>
        <td mat-cell *matCellDef="let element">{{ element.species }}</td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Imamge</th>
        <td mat-cell *matCellDef="let element">
          <img src="{{ element.image }}"  class="table_image_container" />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="goToCharacter(row)">
      </tr>
    </table>
  </div>
  }
</div>

